<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review - Contact Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
<body>
{% include 'navbar.html' %}

<div class="container">
            <p class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact Us</p>

    <div class="card-deck">
        <div class="card text-white bg-secondary mb-3" style="max-width: 15rem">
            <div class="card-header">Address</div>
            <div class="card-body">
                <h5 class="card-title">Branch Name</h5>
                <p class="card-text">
                    Address line 1 </br>
                    Lorem ipsum dolor </br>
                    Nullam vestibulum </br>
                    Quisque at
                </p>
                </br></br>
                <h5 class="card-title">Branch 2</h5>
                <p class="card-text">
                    Duis euismod porta </br>
                    libero, a efficitur </br>
                    quam egestas mattis
                </p>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem">
            <div class="card-header">Email</div>
            <div class="card-body">
                <h6 class="card-title">Addison Pittman</h6>
                <p class="card-text">
                    addpit@dealerreview.com
                </p>
                </br></br>
                <h6 class="card-title">Oakley Walsh</h6>
                <p class="card-text">
                    oakwal@dealerreview.com
                </p>
                </br></br>
            </div>
        </div>
    </div>

</div>
</body>
</html>
